*{
    padding: 0;
    margin: 0;
}

.header{
    background-color: #000000;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header-logo{
    margin-top: 10px;
}
.header-logo img{
    width: 100px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.primary-menu{}
.primary-menu ul{
    text-align: right;
    margin-top: 10px;
}
.primary-menu ul li{
    display: inline-block;
    padding: 10px 30px;
}
.primary-menu ul li a{
    display: inline-block;
    color: #fff;
    font-size: 18px;
    position: relative;
}
.primary-menu ul li a::before{
    content: "";
    height: 2px;
    width: 0;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s;
}
.primary-menu ul li a:hover::before{
    width: 100%;
}
.primary-menu ul li{
    position: relative; 
}
.primary-menu ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 150px;
    background-color: #000000;
    transition: .5s;
}
.primary-menu ul li ul li{
    display: block;
}
.primary-menu ul li ul li a{
    display: block;
}

/* hover part */

.primary-menu ul li ul{
    opacity: 0;
    visibility: hidden;
}
.primary-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
}

.primary-menu ul li ul li a:hover{}

/* banner-part */
.banner-section{
    background-image: url("https://i.ibb.co/ZLRjVQk/a0c6042d4612d7adf44692fffac7e082.jpg");
    padding: 200px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-text a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #000;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
}
.banner-text a:hover{
    background-color: #fff;
}

/* about-part */
.about-section{
    background-color: #84a475;
}
.about-text h1{
    text-align: center;
    text-decoration: underline;
}
.picture img{
    max-width: 200px;
    padding: 40px 0;
}
.about-text p{}

/* service-part */
.service-section{
    background-color: #5f6a64;
}